* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-color: #1e293b;
}

.heading {
  font-family: "BreeSerif";
  font-size: 60px;
  font-weight: bold;
  color: #f0bb03;
}

.home-paragraph {
  font-family: "Bree Serif";
  font-size: 35px;
  color: #ffffff;
}
